{% extends "bootstrap_responsive.html" %}
{% block title %}Mirrit - Automatic backups for repos{% endblock title %}
{% block style -%}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mirrit.css') }}" rel="stylesheet">
    {{ super() }}
{%- endblock style %}
{%- block bootstrap_js_bottom %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/mirrit.js') }}"></script>
{%- endblock bootstrap_js_bottom %}
