{% extends "base.html" %}

{% block body_content %}
{% if g.user %}
hi {{ g.user.username }}!

{% if not g.user.github_access_token %}
<p>Auth with <a href="{{ url_for('github_auth') }}">GitHub</a></p>
{% else %}
<h3>github repos</h3>
<ul>
    {% for repo in github_repos %}
    <li><a href="{{ repo.url }}">{{ repo.full_name }}</a>
    {% if repo.is_tracked -%}
    <button class="btn btn-primary" data-github="tracked">Untrack</button>
    {%- else -%}
    <button class="btn" data-github="untracked">Track</button>
    {%- endif -%}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% else %}
Please <a href="/login">login</a> or <a href="/signup">signup</a>.
{% endif %}
{% endblock %}
